.project-container .text-wrapper{
    cursor: pointer;
    color: black;
}

.project-container h3{
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: fit-content;
    font-size: 1rem;
}

.project-expand{
    position: absolute;
    animation: sectionExpand 1s forwards;
}

.project-container .text-wrapper:disabled{
    color: black;
}

.project-container{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.visible{
    display: flex;
}

.hide{
    display: none;
}

.project-content{
    justify-content: center;
    width: 100%;
    align-items: center;
}

.close-project-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
}

.proj-info{
    padding: 0px 30px;
    text-align: center;
}

.proj-info ul{
    list-style: none;
}

.project-screenshot{
    max-height: 75vh;
    border-radius: 10px;
}

@keyframes sectionExpand {
    from{
        top: 0;
        width: 7rem;
    }
    to{
        top: 0;
        width: 100%;
        left: 0;
    }
}

@keyframes sectionExpandMobile {
    from{
        left: 0;
        width: 100%;
        height: 7rem;
    }
    to{
        left: 0;
        width: 100%;
        top: 0;
        min-height: calc(100vh - 59px);
    }
}

@media screen and (max-width: 675px){

    .close-project-btn{
        transform: rotate(90deg);
        padding: 10px;
    }

    .project-container h3{
        writing-mode: horizontal-tb;
    }

    .project-expand{
        animation: sectionExpandMobile 1s forwards;
        min-height: calc(100vh - 89px);
        display: flex;
    }

    .project-container{
        top: 30px;
        flex-direction: column;
        overflow: auto;
        overflow-x: hidden;
    }

    .project-container .text-wrapper{
        width: 100%;
        height: 7rem;
    }

    .project-content{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
}

