.project-container .text-wrapper{
    cursor: pointer;
    color: black;
}

.project-container h3{
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: fit-content;
    font-size: 1rem;
}

.project-expand{
    position: absolute;
    animation: sectionExpand 1s forwards;
}

.project-container .text-wrapper:disabled{
    color: black;
}

.project-container{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.visible{
    display: flex;
}

.hide{
    display: none;
}

.project-content{
    justify-content: space-between;
    width: 100%;
}

.close-project-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
}

@keyframes sectionExpand {
    from{
        width: 7rem;
    }
    to{
        width: 100%;
        left: 0;
    }
}

