aside{
    position: fixed;
    top: 91px;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.show{
    display: flex;
}

aside a{
    color: black;
    margin-right: calc(25% - 2rem);
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    width: 4rem;
    aspect-ratio: 1 / 1;
    transition: box-shadow 0.3s;
}

aside a:hover{
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 106);
}

@media screen and (max-width: 675px){
    aside{
        width: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0.5) 50%);
        display: none;
        align-items: flex-end;
    }
}